<% if @question.errors.any? %>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<table>
<%= form_for @question do |f| %>
  <% [:title, :content].each do |field|  %>
  <tr>
    <td>
      <%= f.label field %>
    </td>
    <td>
      <%= f.text_field field %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= label_tag :tags, "Add Tags (Comma separated)" %>
    </td>
    <td>
      <%= text_area_tag :tags, nil, cols: "50", rows: "5" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.hidden_field :has_best_answer, :value => 0 %>
    </td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
  <% end %>
</table>