<h1><%= @question.content %></h1>
<dl>
  <dt>Creator:</dt>
  <dd><%= @question.creator.username %></dd>
  <dt>Question:</dt>
  <dd><%= @question.content %></dd>
</dl>

<% if @question.editable_by? current_user %>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>


<%= render @question.answers %>

<h2>Add your answer</h2>
<%= render partial: '/answers/new', locals: {answer: @answer, question_id: @question.id} %>
