<%= form_for @user do |f| %>
<fieldset>
  <legend>Register for YaKK Overflow!</legend>
  <ul>
    <li>
      <%= f.label :name%>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :uid, "Username"%>
      <%= f.text_field :uid %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li>
      <%= f.hidden_field :provider, value: "yakkoverflow" %>
    </li>

    <li>
    <%= f.submit %>
    </li>
  </ul>
</fieldset>
<% end %>

<% if @user.errors.any? %>
  <div class="error_report">
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
