
  <h2 id="add-an-answer">Add an Answer:</h2>
  <hr>
  <%= form_for [question, answer] do |f| %>
    <%= f.hidden_field :is_best_answer, :value => 0 %>
    <%= f.hidden_field :question_id, :value => question.id %>
    <%= f.text_area :content %>

    <%= f.submit 'Post', class: 'button'%>
  <% end %>


